<div style="padding:15px 0px;background-color:#3C3C3C;color:#9b9b9b;font-size:14px;" class="marT20">
    <div class="width">
        <p class="colFFF linH30">友情连接</p>
        <div class="floLg marR20g linH26">
            <a href="http://www.gmw.cn/" target="_blank">光明网</a>
            <a href="http://www.cnr.cn/" target="_blank">央广网</a>
            <a href="http://www.cri.cn" target="_blank">国际在线</a>
            <a href="http://www.tibet.cn/" target="_blank">中国西藏网</a>
            <a href="http://www.cankaoxiaoxi.com/" target="_blank">参考消息</a>
            <a href="http://www.huanqiu.com/" target="_blank">环球网</a>
            <a href="http://www.cyol.com" target="_blank">中青在线</a>
            <a href="http://www.youth.cn/" target="_blank">中青网</a>
            <a href="http://www.haiwainet.cn/" target="_blank">海外网</a>
            <a href="http://h5.china.com.cn" target="_blank">中国网</a>
            <a href="http://www.k618.cn/" target="_blank">未来网</a>
            <a href="http://qianlong.com/" target="_blank">千龙网</a>
            <a href="http://www.bjnews.com.cn/" target="_blank">新京报</a>
            <a href="http://www.ynet.com/" target="_blank">北青网</a>
            <a href="http://www.fawan.com/" target="_blank">法制晚报</a>
            <a href="http://www.morningpost.com.cn" target="_blank">北京晨报</a>
            <a href="http://www.bbtnews.com.cn/" target="_blank">北京商报</a>
            <a href="http://www.stardaily.com.cn/" target="_blank">北京娱乐信报</a>
            <a href="http://www.oeeee.com/" target="_blank">奥一网</a>
            <a href="http://www.ycwb.com/" target="_blank">金羊网</a>
            <a href="http://www.hsw.cn/" target="_blank">华商网</a>
            <a href="http://www.xinmin.cn" target="_blank">新民网</a>
            <a href="http://www.rednet.cn/index.html" target="_blank">红网</a>
            <a href="http://www.jschina.com.cn" target="_blank">中国江苏网</a>
            <a href="http://www.jxnews.com.cn/" target="_blank">中国江西网</a>
            <a href="http://www.iqilu.com/" target="_blank">齐鲁网</a>
            <a href="http://www.hinews.cn/news/" target="_blank">南海网</a>
            <a href="http://www.ahwang.cn/" target="_blank">安徽网</a>
            <a href="http://www.hebnews.cn/" target="_blank">河北新闻网</a>
            <a href="http://www.mnw.cn/" target="_blank">闽南网</a>
            <a href="http://www.hxnews.com/" target="_blank">海峡网</a>
            <a href="http://www.voc.com.cn/" target="_blank">华声在线</a>
            <a href="http://tv.cztv.com" target="_blank">中国蓝TV</a>
        </div>
        <div style="height:1px;background-color:#555;margin-top:15px;margin-bottom:10px;"></div>
        <div class="floLg linH30">
            <div id="PhoneQQ">联系电话：13418980092</div>
            <div class="floR">易风资讯 粤ICP备14096405号-1 Copyright 2015,all rights reserved Wind6.com</div>
        </div>
    </div>
</div>
